main {
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: repeat(5, 261px);
    gap: 10px;
    margin-top: 20px;
    margin-left: 290px;
}
.title{
    margin-left: 290px;
    display: block;
    height: 48px;
}