.personal-account-page{
    width: 100%;
    min-height: 100%;
    &-content{
        height: 100%;
        justify-content: center;
        &-tab-wrapper{
            &-title{
                font-size: 24px;
            }
            &-form{
                display: flex;
                &-button{
                    margin-top: 30px;
                    padding: 5px 10px;
                    background-color: white;
                    border: 2px black solid;
                    border-radius: 6px;
                    font-size: 18px;
                    width: 300px;
                    transition: .4s;
                    &:hover{
                        transform: translateY(-15px);
                    }
                    &:active{
                        transform: translateY(20px);
                    }
                }
            }
            &-personal-data{
                display: grid;
                grid-template-columns: 250px 250px;
                column-gap: 15px;
                margin-top: 36px;
                &-col{
                    &-row{
                        display: flex;
                        flex-direction: column;
                        &:not(:last-child){
                            margin-bottom: 12px;
                        }
                        &-input{
                            height: 40px;
                        }
                        &-label{
                            font-size: 18px;
                        }
                    }
                    &:last-child{
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        justify-content: center;
                    }
                }
            }
            &-password{
                margin-left: 40px;
                &-title{
                    font-size: 24px;
                }
                &-col-row{
                    display: flex;
                    flex-direction: column;
                    &:not(:last-child){
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}

.tab{
    background-color: white;
    height: 80vh;
    border-radius: 0;
    padding: 15px;
    margin-bottom: 20px;
}
