aside{
    background-color: #ebebeb;
    margin-top: 20px;
    position:fixed;
}
.asidebar-nav-list{
    padding-left: 30px;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    &-item-btn{
        font-size: 24px;
        border: none;
        max-width: 140px;
        background-color: transparent;
        transition: .5s;
        &:hover{
            transform: translateY(-10px);
        }
    }
}