.about-product{
    width: 100%;
    min-height: 1000px;
    &-bottom{
        margin-top: 50px;
        &-content{
            margin: 0 auto;
            max-width: 1350px;
            &-title{
                text-align: right;
            }
        }
    }
    &-other{
        background-color: #ebebeb;
        display: grid;
        grid-template-columns: repeat(5, 261px);
        gap: 10px;
        margin-top: 20px;
        padding: 30px 0;
    }
    &-content{
        max-width: 1350px;
        margin: 20px auto 0 auto;
        display: flex;
        &-info{
            width: 700px;
            margin-left: 50px;
            &-desc{
                margin-top: 30px;
                display: block;
                width: 400px;
            }
            &-btns{
                margin-top: 30px;
                display: flex;
                align-items: center;
            }
            &-compound{
                margin-top: 30px;
            }
        }
        &-slider{
            width: 500px;
            height: 600px;
            &-img{
                object-fit: cover;
                width: 500px;
                height: 600px;
            }
        }
    }
}
.order{
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #ebebeb;
    transition: .2s;
    &:hover{
        transform: translateY(-5px);
    }
}
.add-to-cart{
    transition: .2s;
    &:hover{
        transform: translateY(-5px);
    }
}

